<!DOCTYPE html>
<html>
  <head>
    <title>StockZero</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class = 'row'>
      <div class = 'col-md-2'>
        <font style = "font-family:'verdana'"><h3> <%= link_to "Home", root_path  %></h3>
      </div>
      <div class = 'col-md-2'>
        <font style = "font-family:'verdana'"><h3> <%= link_to "login", login_login_path  %></h3>
      </div>
    </div>
        

    
  </body>
</html>
